@model IEnumerable<UserListing.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mx-auto" style="width:fit-content;">

    <h1 class="text-center fw-bold mb-5">Users</h1>

    @* <p>
    <a asp-action="Create">Create New</a>
    </p> *@

    <table class="table table-hover table-borderless">
        <thead class="table-dark">
            <tr>
                <th>
                    <p>Name</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a style="text-decoration:none; color:black;" asp-action="Details" asp-route-id="@item.Id"><p><b>@Html.DisplayFor(modelItem => item.first_name)</b></p></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>